.container {
  position: relative;
  display: inline-flex;
  border-radius: 100%;
  overflow: hidden;
  background-color: rgba(110, 110, 110, 0.263);
}

.container:hover > .edit {
  opacity: 1;
  cursor: pointer;
}

.edit {
  position: absolute;
  background-color: rgba(60, 60, 60, 0.1);
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  bottom: 0;
  opacity: 0;
  border: none;
}

.img {
  object-fit: cover;
  border-radius: 100%;
}
