.task_container {
  background-color: #faf7da;
  padding: 15px;
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 1.24rem;
}

.title_date {
  font-size: 0.87;
  color: rgba(var(--main-text-color-pure-rgb), 0.5);
}

.steps_container {
  flex-direction: column;
  /* display: block; */
  /* gap: 10px; */
  margin-top: 30px;
  height: 200px;
  overflow-y: auto;
}

.expiredAt {
  margin-top: 5px;
  font-size: 0.875rem;
}

.footer_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.likes {
  display: flex;
  gap: 10px;
}

.control_buttons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control_buttons_container button,
.footer_container button {
  padding: 8px 16px;
  border: none;
  font-size: 0.87;
  background-color: rgba(196, 196, 196);
  color: inherit;
}

.control_buttons_container button:hover,
.footer_container button:hover {
  opacity: 0.8;
}

.step {
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px 0px;
}

.step:hover {
  background-color: rgba(255, 255, 255, 0.442);
}

.step:hover > .step_controls {
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}

.step_controls {
  display: inline-flex;
  float: right;
  gap: 15px;
  opacity: 0;
}

.step_controls > button {
  background: none;
  border: none;
  cursor: pointer;
}

.step_controls > button:hover {
  opacity: 0.6;
}
